{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended"],
  "overrides": [{
    "files": ["*.ts"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
  }],
  "env": {
    "node": true
  }
}
